# Data wrangling for crime data
1. Read data
2. Groupby time periods

In [4]:
import pandas as pd
import numpy as np
os.chdir('/Users/sarwaridas/Desktop/IDS 702/Final Project/ids720_CoffeeAndCrimes/')
#crime = pd.read_csv(os.getcwd()+"/00_sourcedata/Crimes_-_2001_to_Present.csv")
crime=pd.read_csv("/Users/sarwaridas/Desktop/IDS 702/Final Project/Crimes_-_2001_to_Present.csv")
#crime=crime.loc[crime['Community Area']!=0]

In [5]:
crime = crime.drop(
    [
        "Updated On",
        "Latitude",
        "Longitude",
        "FBI Code",
        "X Coordinate",
        "Y Coordinate",
        "Case Number",
        "Block",
        "IUCR",
        "Arrest",
        "Domestic",
        "Beat",
    ],
    axis=1,
)
crime.nunique() #77 community areas

ID                      290059
Date                    269782
Primary Type                 2
Description                 31
Location Description       196
District                    23
Ward                        50
Community Area              78
Year                        21
Location                154683
dtype: int64

In [15]:
crime1=crime.loc[crime.Year>2004]
crime1=crime1.loc[crime1.Year<2020]
crime1.shape

crime_by_year_CCA1 = crime1[["Year", "Community Area","ID"]].groupby(["Year", "Community Area"], as_index=False).count()
crime_by_year_CCA1.shape

(1155, 3)

In [16]:
crime_by_year_CCA1

      Year  Community Area   ID
0     2005             0.0    1
1     2005             1.0  306
2     2005             2.0  194
3     2005             3.0  227
4     2005             4.0   85
...    ...             ...  ...
1150  2019            73.0   91
1151  2019            74.0    3
1152  2019            75.0   43
1153  2019            76.0    8
1154  2019            77.0   69

[1155 rows x 3 columns]

In [4]:
(100 * crime.isna().sum()) / len(crime)  # Missing 8.14% data for Community Area

ID                      0.000000
Date                    0.000000
Primary Type            0.000000
Description             0.000000
Location Description    0.001379
District                0.001724
Ward                    8.147681
Community Area          8.153886
Year                    0.000000
Location                0.499211
dtype: float64

In [6]:
crime.head()

,ID,Date,Primary Type,Description,Location Description,District,Ward,Community Area,Year,Location
0,10224745,09/05/2015 11:30:00 AM,ROBBERY,STRONGARM - NO WEAPON,STREET,12.0,27.0,27.0,2015,"(41.88281374, -87.704325717)"
1,10224763,09/05/2015 01:45:00 PM,ROBBERY,STRONGARM - NO WEAPON,SIDEWALK,3.0,5.0,43.0,2015,"(41.766247597, -87.575997062)"
2,10224767,09/04/2015 04:15:00 PM,ROBBERY,ARMED: HANDGUN,SIDEWALK,4.0,7.0,46.0,2015,"(41.75135862, -87.560164545)"
3,10224781,09/05/2015 11:20:00 AM,ROBBERY,STRONGARM - NO WEAPON,STREET,20.0,40.0,2.0,2015,"(41.984956576, -87.69589518)"
4,10224939,09/05/2015 02:50:00 PM,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,STREET,10.0,24.0,29.0,2015,"(41.854752959, -87.711233594)"

In [9]:
crime_by_year_CCA = crime[["Year", "Community Area","ID"]].groupby(["Year", "Community Area"], as_index=False).count()
crime_by_year_CCA = crime_by_year_CCA.loc[crime_by_year_CCA["Year"] != 2001] #something is up with numbers for 2001
crime_by_year_CCA.sample(2)

      Year  Community Area   ID
1036  2014            46.0  190
859   2012            23.0  465

In [11]:
crime_by_year_CCA.Year.s

(1540, 3)

In [11]:
# import altair as alt
# alt.Chart(crime_by_year_CCA).mark_circle(size=60).encode(
#     x="Year:O", y="ID:Q", color="Ward:N", tooltip=["Community Area", "Year", "ID"]
# ).interactive()

In [10]:
# CCA = crime_by_year_CCA.Ward.unique()
# input_dropdown = alt.binding_select(options=CCA)
# selection = alt.selection_single(fields=["Community Area"], bind=input_dropdown, name="CCA:")
# color = alt.condition(
#     selection, alt.Color("Community Area:N", legend=None), alt.value("lightgray")
# )

# alt.Chart(crime_by_year_CCA).mark_point().encode(
#     x=alt.X("Year:O", scale=alt.Scale(zero=False)),
#     y=alt.Y("ID:Q", scale=alt.Scale(zero=False)),
#     color="Community Area:N",
#     tooltip=["Community Area", "Year", "ID"],
# ).add_selection(selection).transform_filter(selection)

In [12]:
os.chdir('/Users/sarwaridas/Desktop/IDS 702/Final Project/ids720_CoffeeAndCrimes/02_processed_data')
crime_by_year_CCA.to_csv("crime_by_year_CCA.csv")

In [13]:
crime_by_year_CCA.columns

Index(['Year', 'Community Area', 'ID'], dtype='object')