In [52]:
# importing libraries
import pandas as pd # Reading csv file 
from shapely.geometry import Point # Shapely for converting latitude/longtitude to geometry
import geopandas as gpd # To create GeodataFrame

In [53]:
os.getcwd()

'/Users/sarwaridas/Desktop/IDS 702/Final Project/ids720_CoffeeAndCrimes/02_processed_data'

## Creating point location

In [54]:
os.chdir('/Users/sarwaridas/Desktop/IDS 702/Final Project/ids720_CoffeeAndCrimes/00_sourcedata')
df= pd.read_csv("CoffeeShops_byLatitude.csv")
df.head()

,Unnamed: 0,names_doingbusiness,keep_row,ID,LATITUDE,LONGITUDE,LOCATION,year
0,201,arturo express,1,53931-20200916,41.879616,-87.639765,"(41.87961626801739, -87.63976452343368)",2020.0
1,840,social junkie,1,2551384-20171214,41.950348,-87.807329,"(41.95034769269968, -87.80732944580947)",2017.0
2,1223,social junkie,1,2551384-20191216,41.950348,-87.807329,"(41.95034769269968, -87.80732944580947)",2019.0
3,2027,lutz continental cafe & pastry shop,1,1356917-20201216,41.961409,-87.690796,"(41.96140869447139, -87.6907962429884)",2020.0
4,2251,gaslight coffee roasters,1,2185009-20201016,41.924668,-87.699992,"(41.92466824748827, -87.69999236109766)",2020.0

In [55]:
geometry = [Point(xy) for xy in zip(df['LONGITUDE'],df['LATITUDE'])]
# Coordinate reference system : WGS84
crs = {'init': 'EPSG:4326'}

# Creating a Geographic data frame 
gdf = gpd.GeoDataFrame(df, crs=crs, geometry=geometry)
gdf= gdf.set_crs("EPSG:4326",allow_override=True)

/Users/sarwaridas/opt/miniconda3/envs/geo/lib/python3.9/site-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [56]:
gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [57]:
boundaries.geometry

0     POLYGON ((-87.60914 41.84469, -87.60915 41.844...
1     POLYGON ((-87.59215 41.81693, -87.59231 41.816...
2     POLYGON ((-87.62880 41.80189, -87.62879 41.801...
3     POLYGON ((-87.60671 41.81681, -87.60670 41.816...
4     POLYGON ((-87.59215 41.81693, -87.59215 41.816...
                            ...
72    POLYGON ((-87.69646 41.70714, -87.69644 41.706...
73    POLYGON ((-87.64215 41.68508, -87.64249 41.685...
74    MULTIPOLYGON (((-87.83658 41.98640, -87.83658 ...
75    POLYGON ((-87.65456 41.99817, -87.65456 41.998...
76    POLYGON ((-87.80676 42.00084, -87.80676 42.000...
Name: geometry, Length: 77, dtype: geometry

In [58]:
gdf.geometry

0        POINT (-87.63976 41.87962)
1        POINT (-87.80733 41.95035)
2        POINT (-87.80733 41.95035)
3        POINT (-87.69080 41.96141)
4        POINT (-87.69999 41.92467)
                    ...
15494    POINT (-87.63212 41.85094)
15495    POINT (-87.65530 41.99193)
15496    POINT (-87.66063 41.99736)
15497    POINT (-87.63471 41.88671)
15498    POINT (-87.62504 41.88199)
Name: geometry, Length: 15499, dtype: geometry

In [59]:
gdf.loc[gdf['names_doingbusiness']=="hegewisch nutrition"]

,Unnamed: 0,names_doingbusiness,keep_row,ID,LATITUDE,LONGITUDE,LOCATION,year,geometry
12988,929773,hegewisch nutrition,1,2738264-20200707,41.648743,-87.546082,"(41.648742509014895, -87.54608218874857)",2020.0,POINT (-87.54608 41.64874)

## Mapping point to community area

In [60]:
boundaries= gpd.read_file("/Users/sarwaridas/Desktop/IDS 702/Final Project/ids720_CoffeeAndCrimes/00_sourcedata/Boundaries/geo_export_5bdaf3fc-172d-4e90-b507-028e2a2f0c83.dbf")
boundaries.head()

,area,area_num_1,area_numbe,comarea,comarea_id,community,perimeter,shape_area,shape_len,geometry
0,0.0,35,35,0.0,0.0,DOUGLAS,0.0,4.600462e+07,31027.054510,"POLYGON ((-87.60914 41.84469, -87.60915 41.844..."
1,0.0,36,36,0.0,0.0,OAKLAND,0.0,1.691396e+07,19565.506153,"POLYGON ((-87.59215 41.81693, -87.59231 41.816..."
2,0.0,37,37,0.0,0.0,FULLER PARK,0.0,1.991670e+07,25339.089750,"POLYGON ((-87.62880 41.80189, -87.62879 41.801..."
3,0.0,38,38,0.0,0.0,GRAND BOULEVARD,0.0,4.849250e+07,28196.837157,"POLYGON ((-87.60671 41.81681, -87.60670 41.816..."
4,0.0,39,39,0.0,0.0,KENWOOD,0.0,2.907174e+07,23325.167906,"POLYGON ((-87.59215 41.81693, -87.59215 41.816..."

In [61]:
distance_to_cca = gdf.sjoin(boundaries, how="left", predicate='intersects')
distance_to_cca.sample(10)

,Unnamed: 0,names_doingbusiness,keep_row,ID,LATITUDE,LONGITUDE,LOCATION,year,geometry,index_right,area,area_num_1,area_numbe,comarea,comarea_id,community,perimeter,shape_area,shape_len
2098,202096,jazzy bean cafe,1,1070164-20020216,41.830490,-87.676207,"(41.83048987325396, -87.6762068763212)",2002.0,POINT (-87.67621 41.83049),43.0,0.0,59,59,0.0,0.0,MCKINLEY PARK,0.0,3.943180e+07,26014.096837
223,72844,"ritual coffeehouse, inc.",1,2428196-20170123,41.954095,-87.675048,"(41.95409491446792, -87.67504823784746)",2017.0,POINT (-87.67505 41.95409),47.0,0.0,5,5,0.0,0.0,NORTH CENTER,0.0,5.705417e+07,31391.669754
5822,448028,thyme cafe,1,81825-20041116,41.909420,-87.676195,"(41.909420030729095, -87.67619508256817)",2004.0,POINT (-87.67620 41.90942),24.0,0.0,24,24,0.0,0.0,WEST TOWN,0.0,1.275629e+08,55203.718696
11497,827713,edgewater beach cafe,1,7556-20110716,41.982989,-87.655021,"(41.98298901767028, -87.65502137980539)",2011.0,POINT (-87.65502 41.98299),75.0,0.0,77,77,0.0,0.0,EDGEWATER,0.0,4.844999e+07,31004.830946
12134,871492,starbucks coffee #226,1,2398567-20150831,41.799667,-87.587815,"(41.79966712287017, -87.58781452378159)",2015.0,POINT (-87.58781 41.79967),7.0,0.0,41,41,0.0,0.0,HYDE PARK,0.0,4.510538e+07,29746.708202
8021,594204,caribou coffee company,1,52559-20120216,41.937140,-87.648228,"(41.93714019635578, -87.64822754792601)",2012.0,POINT (-87.64823 41.93714),44.0,0.0,6,6,0.0,0.0,LAKE VIEW,0.0,8.721480e+07,51973.096868
6741,512002,haru cafe,1,2134011-20120228,41.987385,-87.702567,"(41.98738484942677, -87.7025668399143)",2012.0,POINT (-87.70257 41.98738),19.0,0.0,2,2,0.0,0.0,WEST RIDGE,0.0,9.842909e+07,43020.689458
6832,517674,chef sara's cafe,1,2108057-20110928,41.764509,-87.564739,"(41.764509172574805, -87.56473939232829)",2011.0,POINT (-87.56474 41.76451),38.0,0.0,43,43,0.0,0.0,SOUTH SHORE,0.0,8.181272e+07,44249.646117
14256,999542,amstar fuel & mini mart,1,2464243-20210116,41.854983,-87.724996,"(41.85498313235789, -87.72499648315791)",2021.0,POINT (-87.72500 41.85498),29.0,0.0,29,29,0.0,0.0,NORTH LAWNDALE,0.0,8.948742e+07,44959.459663
3482,297811,starbucks coffee #2494,1,1139799-20040216,41.928817,-87.658379,"(41.928816915505855, -87.65837883656692)",2004.0,POINT (-87.65838 41.92882),67.0,0.0,7,7,0.0,0.0,LINCOLN PARK,0.0,8.831640e+07,49478.427771

In [47]:
# distance_to_cca=gdf.sjoin_nearest(boundaries[['geometry','community']], distance_col="distance")
# distance_to_cca.head()

In [63]:
distance_to_cca.community.unique()

array(['NEAR WEST SIDE', 'DUNNING', 'LINCOLN SQUARE', 'LOGAN SQUARE',
       'NEAR NORTH SIDE', 'EAST GARFIELD PARK', 'BEVERLY',
       'WEST GARFIELD PARK', 'WEST TOWN', 'NORTH PARK', 'LINCOLN PARK',
       'CHICAGO LAWN', 'AUSTIN', 'UPTOWN', 'ALBANY PARK', 'AVONDALE',
       'HUMBOLDT PARK', 'LAKE VIEW', 'HYDE PARK', 'CLEARING',
       'BRIGHTON PARK', 'EDGEWATER', 'GRAND BOULEVARD', 'BELMONT CRAGIN',
       'SOUTH LAWNDALE', 'LOOP', 'GREATER GRAND CROSSING', 'IRVING PARK',
       'LOWER WEST SIDE', 'WOODLAWN', 'NEW CITY', 'PULLMAN', nan,
       'EAST SIDE', 'NEAR SOUTH SIDE', 'MONTCLARE', 'PORTAGE PARK',
       'AUBURN GRESHAM', 'GARFIELD RIDGE', 'FOREST GLEN', 'ARMOUR SQUARE',
       'ROGERS PARK', 'WEST ELSDON', 'CHATHAM', 'ROSELAND', 'BRIDGEPORT',
       'NORWOOD PARK', 'SOUTH SHORE', 'NORTH CENTER', 'KENWOOD',
       'WEST ENGLEWOOD', 'WEST RIDGE', 'ENGLEWOOD', 'HERMOSA',
       'MORGAN PARK', 'NORTH LAWNDALE', 'JEFFERSON PARK', 'AVALON PARK',
       'EDISON PARK', 'MOUNT GREENWOOD', 'WASHINGTON PARK',
       'CALUMET HEIGHTS', 'WEST LAWN', 'SOUTH CHICAGO', 'OHARE',
       'MCKINLEY PARK', 'SOUTH DEERING', 'WEST PULLMAN',
       'WASHINGTON HEIGHTS', 'DOUGLAS', 'GAGE PARK', 'ARCHER HEIGHTS',
       'FULLER PARK', 'HEGEWISCH', 'ASHBURN', 'BURNSIDE'], dtype=object)

In [64]:
coffee_by_year_CCA_revised=distance_to_cca[['community','year','keep_row']].groupby(['community','year'],as_index=False).sum()
coffee_by_year_CCA_revised.head()

     community    year  keep_row
0  ALBANY PARK  2002.0        11
1  ALBANY PARK  2003.0        12
2  ALBANY PARK  2004.0        17
3  ALBANY PARK  2005.0        21
4  ALBANY PARK  2006.0        20

In [65]:
os.chdir('/Users/sarwaridas/Desktop/IDS 702/Final Project/ids720_CoffeeAndCrimes/02_processed_data')
coffee_by_year_CCA_revised.to_csv("coffee_by_year_CCA_revised.csv")

In [66]:
coffee_by_year_CCA_revised.shape

(1209, 3)

In [67]:
coffee_by_year_CCA_revised.nunique()

community    75
year         21
keep_row     95
dtype: int64

In [68]:
coffee_by_year_CCA_revised1= coffee_by_year_CCA_revised.loc[coffee_by_year_CCA_revised.year>2004]
coffee_by_year_CCA_revised1=coffee_by_year_CCA_revised1.loc[coffee_by_year_CCA_revised1.year<2020]
coffee_by_year_CCA_revised1.shape

(864, 3)

In [69]:
coffee_by_year_CCA_revised1.nunique()

community    75
year         15
keep_row     84
dtype: int64

In [75]:
75*15

1125